.container
{
    display:grid;
    grid-template-columns:1fr 5fr 3fr; 
    gap:10px;
    height:95vh;
    width:95vw;
}
h1{
    text-align:center;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}


.container>.content{

    display:flex;
    flex-direction:column;
    gap:30px;
}

.container>.Futureforecast{
    display:flex;
    flex-direction:column;
    gap:10px;
}
.Futureforecast>div{
    display:flex;
    flex-direction:row;
    gap:10px;
}
.forecast>.today-temp
{
    display:flex;
    flex-direction:row;
    gap:10px;
}

.content>.forecast{
    display:flex;
    flex-direction:column;
}


.result>.city
{
    margin-bottom:10px;
}